*{
    margin: 0;
    padding: 0;
}

body{
    background:#5356FF;
}

.container{
    /* border: 2px solid; */
    position:absolute;
    width: 80%;
    left: 10%;
    height: 100vh;
    /* top: 10%; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding:10px;
    
}

.container #input{
    position: relative;
    border: 2px solid;
    width: 80%;
    height: 5%;
    margin:10px 0;
    resize: none;
    font-size: x-large;
    text-align: center;
    padding:5px;
    outline: none;
    border-radius: 10px;
    overflow: hidden;
}
.container .findContainer{
    position: relative;
    width: 80%;
    /* left: 10%; */
    text-align: center;
}

.numContainer{
    width: 50px;
    height: 50px;
    display: inline-block;
    justify-content: center;
    background-color: white;
    margin-right: 10px;
    margin-top: 5px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}

.container #tree{
    position: relative;
    width: 80%;
    margin-top: 1%;
    /* left: 10%; */
    height: 85%;
    background-color: white;
    border: 2px solid black;
    overflow: auto;
    border-radius: 10px;

}

.btn-container{
    position: relative;
    width: 80%;
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}

.btn-lock, .btn-clear{
   position: relative;
   width: 80px;
   height: 30px;
   border: none;
   cursor: pointer;
   border-radius: 10px;
   background-color: #67C6E3;
   margin-left: 5px;
   font-weight: 400;
   font-size: 18px;
}
.btn-clear:hover,.btn-lock:hover{
    background-color:#50a8c2;
}
.btn-clear{
    display: none;
}

/* =============Animation=================*/
.gold{
    animation: goldfill 1s forwards;
}
.gray{
    animation: brownfill 1s forwards;
}
.green{
    animation: greenfill 1s forwards;
}

@keyframes goldfill{
    100%{
        fill: gold;
    }
}
@keyframes brownfill{
    100%{
        fill:gray;
        transform: scale(0.9);
    }
}
@keyframes greenfill{
    100%{
        fill:green;
        transform: scale(1.1);
    }
}


